<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>newpackage.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditManagerServlet</servlet-name>
        <servlet-class>newpackage.EditManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEventManagersServlet</servlet-name>
        <servlet-class>newpackage.ManageEventManagersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditManagerServlet</servlet-name>
        <url-pattern>/EditManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEventManagersServlet</servlet-name>
        <url-pattern>/ManageEventManagersServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>admin/admin_login/adminLogin.html</welcome-file>
    </welcome-file-list>
</web-app>
