<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.event.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.event.controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePhotoServlet</servlet-name>
        <servlet-class>ChangePhotoServket.ChangePhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePhotoServlet</servlet-name>
        <servlet-class>com.event.controller.UpdatePhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.event.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAnswerServlet</servlet-name>
        <servlet-class>com.event.controller.VerifyAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.event.controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePhotoServlet</servlet-name>
        <url-pattern>/ChangePhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePhotoServlet</servlet-name>
        <url-pattern>/UpdatePhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAnswerServlet</servlet-name>
        <url-pattern>/VerifyAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
</web-app>
